.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  
  }
  
  .titulo {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .imagen {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
  }
  
  
  .parrafo1 {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .parrafo2 {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .parrafo3 {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .parrafo4 {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .parrafo5 {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  
  .barra {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  
  }
  
  .tecnologia {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  }
  
  .tecparrafo {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
  }
  
  
  
  .estilogris {
    background-color: grey;
  }